@mixin circle($widthHeight) {
    content: "";
    width: $widthHeight;
    height: $widthHeight;
    border-radius: 50%;
    border: 2px solid #d5dce0;
    transition: opacity .2s ease, border-color .2s ease;
}
