.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    background-color: #FFF;
    border: 1px #d5dce0 solid;
    transition: color .2s ease, border-color .2s ease;
    cursor: pointer;

    &.btn-blue {
        color: $color-blue;
        border-color: $color-blue;
    }

    &:hover {
        color: $color-orange;
        border-color: $color-orange;
    }
}
