// TESTE
.card {
    max-width: 1000px;
    margin: auto;
}

.card {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.09);
    min-height: 100%;

    display: flex;
    flex-direction: column;

    // HEADER
    .card-header {
        padding-left: 30px;
        height: 52px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.09);

        .card-header-link {
            font-size: 14px;
            display: flex;
            align-items: center;

            &.card-header-link--user {
                &:after {
                    @include circle(14px);
                    display: inline-block;
                    margin-left: 6px;
                    margin-right: 30px;
                }
            }

            &.card-header-link--date {
                color: #87929b;
                margin-right: 16px;

                .btnCircle {
                    margin-right: 8px;
                }
            }

            &:hover {
                color: $color-blue;

                .btnCircle,
                &:after {
                    border-color: $color-blue;
                }

                .icon {
                    fill: $color-blue;
                }
            }
        }

        .card-header-imgUser {
            @include imgCircle(30px);
            margin-right: 8px;
        }

        .card-header-action {
            margin-left: auto;
            padding: 10px 12px;

            .icon {
                fill: #848f99;
                width: 16px;
                height: 16px;
            }

            &.card-header-action--close {
                align-self: flex-start;

                .icon {
                    width: 12px;
                    height: 12px;
                    fill: #b7bfc6;
                }
            }

            &:hover {
                .icon {
                    fill: $color-blue;
                }
            }
        }

        .btnCircle {
            margin: 0 3px;
        }
    }

    // BODY
    .card-body {
        flex: 1;
        padding:  54px 30px 20px 20px;
    }

    // FOOTER
    .card-footer {
        background-color: #f6f8f9;
        border-top: 1px solid #e0e6e8;
        display: flex;
        padding: 10px 30px;

        .card-footer-imgUser {
            @include imgCircle(30px);
            margin-right: 10px;
        }

        .card-footer-textareaComments {
            padding-top: 14px;
        }
    }
}
