// TESTE
.card {
    max-width: 1000px;
    margin: auto;
}


.card {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.09);

    .card-header {
        padding: 12px 0 12px 30px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.09);

        .card-header-actionTools {
            margin-left: auto;
            padding: 6px 12px;

            .icon {
                fill: #848f99;
                width: 16px;
                height: 16px;
            }

            &:hover {
                .icon {
                    fill: $color-orange;
                }
            }
        }
    }
}

.list {
    padding-bottom: 12px;

    li {
        font-size: 14px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: background-color .2s ease;

        // Nao fiz com borda, por causa do hover, a borda nao é 100%, menos div mais semantica
        &:after {
            content: "";
            height: 1px;
            background-color: #e0e6e8;
            display: block;
            width: calc(100% - 60px);
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            margin: auto;
            transition: background-color .2s ease;
        }

        &:hover,
        &:hover:after {
            background-color: #edf8ff;
        }

        .icon-check {
            fill: #b8c0c6;
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
    }
}
