.header {
    background-color: #FFF;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.09);

    .header-action {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #edf1f2;

        .header-action-btnMenu {
            @include widthHeight(40px);
            background-color: transparent;
            border-right: 1px solid #edf1f2;

            .icon {
                fill: #848f99;
                @include widthHeight(14px);
            }

            &:hover {
                .icon {
                    fill: $color-blue;
                }
            }
        }

        .header-action-link {
            font-size: 12px;
            color: #a0a9b1;
            padding: 12px 22px;
            position: relative;
            display: block;
            transition: color .2s ease;

            .icon {
                @include widthHeight(8px);
            }

            &.header-action-link--black {
                color: #3f444d;
            }

            &.header-action-link--user {
                padding-right: 52px;
            }

            &:hover {
                color: $color-blue;
            }

            .header-action-link-imgUser {
                @include imgCircle(30px);
                position: absolute;
                right: 12px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        // NAO UTILIZEI O COMPONENTE BTN, POIS ELE PRATICAMENTE MODIFICA TODAS OS STYLES
        .header-action-btnPlus {
            border-radius: 50%;
            @include widthHeight(24px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(45deg, rgba(255,97,113,1) 0%, rgba(255,107,122,1) 23%, rgba(254,123,111,1) 41%, rgba(254,137,91,1) 58%, rgba(253,154,62,1) 81%, rgba(253,157,54,1) 91%, rgba(253,165,41,1) 100%);

            .icon {
                fill: #FFF;
                @include widthHeight(12px);
            }

            &:hover {
                background: $color-blue;
            }
        }

        .header-action-search {
            margin: auto;
            max-width: 510px;
            width: 100%;
            position: relative;

            .icon {
                fill: #9ca6af;
                @include widthHeight(14px);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 10px;
            }

            .header-action-search-input {
                font-size: 12px;
                border-radius: 20px;
                padding: 6px 12px 6px 30px;

                &:focus {
                    + .icon {
                        fill: $color-blue;
                    }
                }
            }
        }
    }

    .header-title {
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        color: #151b26;
        padding: 4px 4px 0;

        .header-title-imgUser {
            @include imgCircle(24px);
            position: relative;
            top: 4px;
        }

        .icon {
            fill: #8c969f;
            @include widthHeight(10px);
            vertical-align: middle;
        }
    }

    .header-linkCollapse {
        padding: 6px 12px;
        display: inline-block;

        .icon {
            fill: #9ca6af;
            @include widthHeight(10px);
        }

        &:hover {
            .icon {
                fill: $color-blue;
            }
        }
    }
}
