// VARIAVEL DE COR

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: $font;
    min-width: 320px;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    font-size: 14px;
    color: #151b26;
    // TALVES
    -webkit-font-smoothing: antialiased;
}

main {
    padding: 16px 16px 0;
    position: relative;
    // VIEWPORT - HEADER
    min-height: calc(100vh - 105px);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;

    &:focus,
    &:active {
        outline: 0;
    }
}

ul {
    list-style: none;
}

input,
textarea {
    font-family: $font;
    transition: box-shadow .2s ease;
    border: 1px solid #d5dce0 !important;

    &:focus,
    &:active {
        outline: 0;
    }

    &:focus {
        box-shadow: 0px 0px 1px 0px $color-blue;
    }
}

button {
    font-family: $font;
    border: none;
}
